/* CSS declarations go here */

body {
  overflow-x: hidden;
}

.selected {
  color: white;
  background-color: blue;
}

.player, .match, .deck {
  border: 2px solid #000000;
  border-radius: 2px;
}

#d3 {
  text-align: center;
}

.formControls {
  text-align: center;
}