/* CSS declarations go here */

body {
  overflow-x: hidden;
}

.selected {
  color: white;
  font-weight: bold;
}
.player.selected, .player.selected:hover {
  background-color: darkblue;
}

.match.selected, .match.selected:hover {
  background-color: purple;
}


.deck.selected, .deck.selected:hover {
  background-color: firebrick;
}

.player, .match, .deck {
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
}

.player:hover, .match:hover, .deck:hover {
  font-weight: bold;
  color: white;
  background-color: grey;
}

#d3 {
  text-align: center;
}

.formControls {
  text-align: center;
}