/* CSS declarations go here */

body {
  overflow-x: hidden;
}

.selected {
  color: white;
  font-weight: bold;
}
.player.selected {
  background-color: darkblue;
}

.match.selected {
  background-color: purple;
}

.deck.selected {
  background-color: firebrick;
}

.player, .match, .deck {
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
}

#d3 {
  text-align: center;
}

.formControls {
  text-align: center;
}